.app-sidebar {
  background-color: #ffffff;
}

.app-logo {
  padding: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 600;


  .logo {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background: #4f46e5;
    color: #ffffff;
    display: grid;
    place-items: center;
    font-style: normal;
    font-size: 13px;
  }

  .text {
    color: #111827;
    font-size: 16px;
  }
}
